:root {
    --blue: hsl(201.18deg 78.9% 46.47%);
    --gray: hsl(214.29deg 31.82% 91.37%);
    --orange: hsl(41.91deg 86.9% 55.1%);
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2")format('.woff2');
}
.mainContent {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: white;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 4;
    padding-left: 50px;
    padding-right: 50px;
}

.sidebar {
    background-color: red;
    grid-area: 1 / 1 / 6 / 2;
    display: grid;
    padding-top: 3rem;
}

.content {
    background-color: var(--gray);
    grid-area: 2 / 2 / 6 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 50px;
    box-shadow: 1px 11px 13px -7px lightg inset;
    -webkit-box-shadow: 1px 11px 13px -7px gray inset;
    -moz-box-shadow: 1px 11px 13px -7px gray inset;
}

.navbar ul {
    list-style: none;
    background-color: antiquewhite;
    display: grid;
    gap: 15px;
    place-content: baseline;
}

.navbar ul li {
    border: black 1px solid;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.frist,
.section {
    align-items: center;
}

.searchBar {
    display: grid;
    grid-template-columns: 50px auto;
    height: 2rem;
}

.search {
    border-radius: 15px;
    border: none;
    background-color: var(--gray);
}

.userInfo {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 15px;
}

.profile {
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
}

.bell {
    justify-self: end;
    align-self: start;
}

.second,
.section {
    display: grid;
}

.user {
    display: grid;
    grid-auto-flow: column;
    justify-self: start;
}

.userProfile {
    border-radius: 50%;
    background-color: black;
    width: 70px;
    height: 70px;
    justify-self: end;
    align-self: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    ;
    gap: 5px;
    justify-self: end;
}

.button {
    border-radius: 5px;
    height: 2rem;
    border: none;
}

.projects {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: wheat;
    height: 200px;
    display: grid;
    grid-template-rows: 1f 2fr 1fr;
    border-left: 6px yellow solid;
    border-radius: 5px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cardIcons {
    display: grid;
    grid-template-columns: repeat(3, 35px);
    justify-self: end;
    align-self: end;
}

.rightContent {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
}

.annoucements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    gap: 15px;
    background-color: wheat;
    padding-top: 30px;
}

.annoucement {
    border-bottom: 1px solid gray;
}

.trending {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    background-color: wheat;
}

.trendingUser {
    display: grid;
    grid-template-columns: 1fr 5fr;

}

.trendingProfile {
    background-color: black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}